@font-face {
  font-family: Recursive;
  src: url(./font/Recursive/Recursive.ttf);
}

:root {
  --border-color: #1e2027;
  --block-color: #0e1017;
  --brand-color: #2d00f0;
  --brand-color-hover: #4820fa;
}

* {
  font-size: 1rem;
  font-family: Recursive;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  width: 100%;
  height: 100%;
  background-color: #04080f;
}

.button {
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 10px 20px;
  background-color: var(--brand-color);
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.button:hover {
  background-color: var(--brand-color-hover);
}
a {
  text-decoration: none;
}

